/* Navbar */
.navbar-brand {
    font: 12px;
    font-family: 'Open Sans', sans-serif;
}


/* Jumbotron */
.jumbotron {
    background: url(../img/main-bg.jpg);
    background-size: cover;
    height: 960px;
    position: relative;
    z-index: -1;
}

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    bottom: 0;
}

.jumbotron .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.jumbotron .display-4 {
    font-weight: 200;
    font-size: 2.6em;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

/* About-Gallery */
.about-gallery {
    color: white;
    margin-top: -40px;
    background: url(../img/the-games-bg.jpg);
    background-size: cover;
    height: 960px;
    position: relative;
    z-index: -1;
    font-family: 'Arial';
    font-style: normal;
}

.about-gallery::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

.about-gallery .container-left {
    margin-top: 256px;
    margin-left: 96px;
    position: relative;
}

.about-gallery .container-right {
    margin-top: 280px;
    margin-right: 124px;
    position: relative;
}

.about-gallery .h1 {
    margin-left: 12px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.about-gallery .h3 {
    margin-top: 12px;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.column-left {
    float: left;
    width: 35%;
}

.column-right {
    width: 65%;
    float: right;
}

/* Game-Features */
.game-features {
    color: white;
    background: url(../img/features.jpg);
    background-size: cover;
    height: 880px;
    position: relative;
    z-index: -1;
    font-family: 'Arial';
    font-style: normal;
}

.game-features::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

.game-features .container-right {
    margin-top: 160px;
    margin-right: 124px;
    position: relative;
}

.game-features .h1 {
    margin-left: 12px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.game-features .h3 {
    margin-top: 12px;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.game-features .column-left {
    float: left;
    width: 56%;
}

.game-features .column-right {
    width: 44%;
    float: right;
}

ul.timeline {
    margin-top: 72px;
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 55%;
    z-index: 400;
}

ul.timeline>li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    margin: 120px 0;
    padding-left: 40px;
}

ul.timeline>li h1 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFB548;
}

ul.timeline>li p {
    font-size: 18px;
    line-height: 22px;

    text-align: justify;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid white;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* sys-req */
.sys-req {
    color: white;
    background: url(../img/requirements.png);
    background-size: cover;
    height: 960px;
    position: relative;
    z-index: -1;
    font-family: 'Arial';
    font-style: normal;
}

.sys-req::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

.sys-req .container {
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.sys-req .display-4 {
    padding-top: 128px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
}

.sys-req .display-2 {
    text-align: left;
    margin-top: 56px;
    margin-bottom: 32px;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sys-req h6 {
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFB548;
}

.sys-req p {
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.sys-req .column-left {
    float: left;
    width: 50%;
}


/* Workingspace */
.workingspace {
    color: white;
    background: url(../img/top-score-bg.png);
    background-size: cover;
    height: 960px;
    position: relative;
    z-index: -1;
    font-family: 'Arial';
    font-style: normal;
}

.workingspace::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

.workingspace h2 {
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 200;
}

.workingspace p {
    font-size: 18px;
    margin-top: 16px;
    font-weight: 200;
}

.workingspace .container {
    color: white;
    position: relative;
    z-index: 1;
}

.workingspace .column-left {
    margin-top: 340px;
    float: left;
    width: 50%;
}

.workingspace .column-right {
    margin-top: 144px;
    float: right;
    width: 50%;
}

.workingspace .testimonial-card {
    width: 448px;
    box-sizing: border-box;
    margin-bottom: 32px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.workingspace .testimonial-card .text-name {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.workingspace .testimonial-card .text-word {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}

/* Subscribe */
.subscribe {
    color: white;
    background-color: #080A0B;
    background-size: cover;
    height: 800px;
    position: relative;
    z-index: -1;
    font-family: 'Arial';
    font-style: normal;
}

.subscribe::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

.subscribe .container {
    color: white;
    position: relative;
    z-index: 1;
}

.subscribe .display-2 {
    text-align: left;
    margin-top: 132px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

.subscribe h1 {
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.subscribe p {
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.subscribe .column-left {
    float: left;
    width: 50%;
}

.subscribe .column-right {
    float: right;
    width: 50%;
}

.subscribe .column-left .skull {
    margin-top: 48px;
}

/* Utility */
.tombol {
    margin-top: 56px;
    text-transform: uppercase;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    padding: 16px;
    color: black;
    width: 260px;
    font-size: 16px;
    font-weight: 700;
}

/* RESPONSIVE */
@media (min-width: 992px) {
    .navbar {
        padding-top: 20px;
    }

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .nav-link:hover::after,
    .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        margin: auto;
        margin-bottom: -8px;
        width: 50%;
        padding-top: 5px;
    }


    .jumbotron {
        margin-top: -90px;
        height: 960px;
    }

    .jumbotron .display-4 {
        margin-top: 224px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        letter-spacing: 3px;
    }

    .jumbotron .display-6 {
        margin-top: 56px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 2px;
    }

    .jumbotron .display-8 {
        margin-top: 280px;
        /* font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 2px; */
    }


    .workingspace {
        text-align: left;
    }


    .testimonial p {
        font-size: 2em;
    }

}